.App {
  font-family: sans-serif;
  text-align: center;
}

.main-container {
  width: 50vw;
  padding: 30px;
  margin: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-container h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.input-container {
  display: flex;
}

.user-input-field {
  display: flex;
  flex-direction: column;
}

.user-input-field .text-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px 2px 0 0;
  border-bottom: 0;
}

.unit-selector {
  padding: 8px 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 0 0 2px 2px;
  text-transform: capitalize;
}

.unit-selector option {
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.equal-sign {
  font-size: 28px;
  font-weight: 900;
  margin: auto 20px;
}

/* disables a few default behaviours */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Other */
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

/* for responsive below 850 screens */
@media screen and (max-width: 850px) {
  .input-container {
    flex-direction: column;
  }
}
